.custom-collapse {
  .ant-collapse-header {
    padding: 8px 0 !important;
    border-bottom: 1px solid #6f767e;
    border-radius: 0 !important;
  }
  .ant-collapse-content-box {
    padding: 8px 0 !important;
  }
}