.product-slide {
  .link-more {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
